---
import { getEntry } from 'astro:content'
import Social from './Social.astro'
import Themes from './Themes.astro'

const name = await getEntry('names', 'cade-brown')!
---

<footer>
	<ul class='footer-socials'>
		{
			Object.entries(name.data.socials).map(([social, tag]) => (
				<li>
					<Social social={social} tag={tag} extra={true} />
				</li>
			))
		}
	</ul>
	<Themes />
	<span class='footer-notice'> &copy; 2001+ by Cade Brown. No rights reserved. </span>
</footer>

<style>
	footer {
		/* show as a column of centered content */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 1em;
		/* make the text a bit bigger */
		font-size: 1.1em;
	}

	.footer-socials {
		/* show as a wrapping row of centered content */
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 0.5em 1em;
		flex-wrap: wrap;

		/* no list spacing */
		list-style-type: none;
		margin: 0;
		padding: 0;

		/* make pretty big */
		font-size: 1.2em;
	}

	.footer-notice {
		/* TODO: any custom styling? italics? */
	}

</style>
